@media (min-width: 1400px) {
    .max_width {
        max-width: 1450px !important;
    }
}

@media (min-width: 768px) and (max-width: 4000px) {
    .py-150 {
        padding: 170px 0px 170px !important;
    }

}

@media (min-width:320px) and (max-width: 767px) {
    .py-150 {
        padding: 80px 0px 80px !important;
    }
}